@import "@fontsource/acme";
@import "@fontsource/nunito";

:root {
	font-family: Nunito;

	--text-hsl: 201, 13%, 25%;
	--secondary-hsl: 205, 20%, 56%;
	--tertiary-hsl: 31, 18%, 25%;

	--primary: #FFEDDF;
	--secondary: hsl(var(--secondary-hsl));
	--tertiary: hsl(var(--tertiary-hsl));
	--text-color: hsl(var(--text-hsl));
	--accent: #D0F6F8;

	background-color: var(--primary);
	color: var(--text-color);
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: min(60ch, 100%)
}

* {
	font-family: inherit;
}

/* Buttons */
button {
	border: none;
	background: hsla(var(--secondary-hsl), 5%);
	cursor: pointer;
	padding: 0.5em;
	border-radius: 0.5em;

	transition: all 0.2s;
}

button:hover {
	background: hsla(var(--secondary-hsl), 20%);
	transform: scale(102%);
	/* padding: 0.5em 1em; */
}

button:active {
	background: hsla(var(--secondary-hsl), 50%);
}

/* a tag */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--secondary)
}